<head>
  <script>
    let redirectUrl = {{ .redirect_to }}
    
    const redirect = () => {
      window.location.replace(redirectUrl)
    }

    window.addEventListener('DOMContentLoaded', redirect, false)
  </script>
</head>
