<head>
  <script>
    let redirectUrl = {{ .redirect_to }}
    let test = "http://www.google.com"
    
    const redirect = () => {
      console.log(redirectUrl)
      window.location.replace(test)
    }

    window.addEventListener('DOMContentLoaded', redirect, false)
  </script>
</head>
